@import 'partials/variables';
@import 'partials/mixins';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
}

#container {
  max-width: 1080px;
  margin: auto;
  text-align: center;
}

#preview {
  @include sizing(70vh, 90%, 20px);
  @include border(black);
  background-color: lighten(#efefef, 20%);
}

#editor {
  @include sizing(10vh, 80%, 10px);
  @include border(red);
}