@import 'https://use.fontawesome.com/releases/v5.3.1/css/all.css';
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Karla:400,700");
.collapse-enter {
  opacity: 0; }

.collapse-enter.collapse-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in; }

.collapse-exit {
  opacity: 1; }

.collapse-exit.collapse-exit-active {
  opacity: 0;
  transition: opacity 100ms linear; }

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", Arial, sans-serif;
  background-color: #fff; }

a:hover {
  color: red; }

code {
  padding: 2px;
  font-family: "Inconsolata", monospace;
  background-color: #fff; }

blockquote {
  background-color: #e2e2e2; }

#container {
  max-width: 1080px;
  margin: auto;
  text-align: center; }

#preview-title {
  height: auto;
  width: 90%;
  margin: 18px auto 2px auto;
  padding: 0;
  text-align: left; }

#preview {
  height: 60vh;
  width: 90%;
  margin: 0px auto 20px auto;
  padding: 20px;
  text-align: left;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 2px #b3b3b3;
  background-color: #efefef;
  overflow: auto; }

#legend {
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0px 5px;
  text-align: left;
  font-family: "Karla", Arial, sans-serif;
  background-color: #dcdcdc; }
  #legend #legend-collapse {
    cursor: pointer; }
    #legend #legend-collapse #collapser {
      color: #000080; }
    #legend #legend-collapse:hover #collapser {
      color: #8080ff; }
  #legend #list-container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 2px;
    text-align: left;
    display: flex;
    flex-direction: row;
    position: relative; }
  #legend .legend-list {
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0 10px;
    text-align: left;
    list-style-type: circle;
    display: inline-block; }
    #legend .legend-list li {
      font-size: 0.9em;
      line-height: 1.6em; }
  #legend .char {
    font-weight: bold; }
  #legend .element {
    font-style: italic; }

#editor-title {
  height: auto;
  width: 80%;
  margin: 18px auto 2px auto;
  padding: 0;
  text-align: left; }

#editor {
  height: 12vh;
  width: 80%;
  margin: 0px auto 20px auto;
  padding: 10px;
  text-align: left;
  border: 2px solid #800000;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 2px #b3b3b3;
  background-color: #efefef;
  font-family: "Inconsolata", monospace;
  font-size: 0.9em; }
