@import 'https://use.fontawesome.com/releases/v5.3.1/css/all.css';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef; }

a:hover {
  color: red; }

code {
  background-color: white; }

blockquote {
  background-color: gray; }

#container {
  max-width: 1080px;
  margin: auto;
  text-align: center; }

#preview {
  height: 65vh;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  border: thick double black;
  background-color: #bcbcbc;
  overflow: auto; }

#legend {
  height: 10vh;
  width: 80%;
  margin: 0 auto;
  padding: 0px 5px;
  text-align: left;
  border: thick double #c1c1c1; }
  #legend #legend-collapse {
    cursor: pointer; }
    #legend #legend-collapse #transition-div {
      display: inline-block; }
    #legend #legend-collapse:hover #collapser {
      color: gray; }
  #legend #list-container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: row; }
  #legend .legend-list {
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0 10px;
    text-align: left;
    list-style-type: circle;
    display: inline-block; }
    #legend .legend-list li {
      font-size: 0.9em;
      line-height: 1.6em; }
  #legend .char {
    font-weight: bold; }
  #legend .element {
    font-style: italic; }

#editor {
  height: 12vh;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  text-align: left;
  border: thick double red; }
