@mixin sizing($height, $width, $margin, $padding) {
    height: $height;
    width: $width;
    margin: $margin;
    padding: $padding;
    text-align: left;
}

@mixin border($border) {
    border: $border;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 2px darken(white, 30%);
}