@mixin sizing($height, $width, $padding) {
    height: $height;
    width: $width;
    margin: 20px auto;
    padding: $padding;
    text-align: left;
}

@mixin border($color) {
    border: thick double $color;
}