// typography
$preview-text: 'Karla', Arial, sans-serif;
$editor-text: 'Inconsolata', monospace;

// color scheme
$body-bg-color: #fff;
$main-bg-color: #efefef;
$legend-bg-color: #dcdcdc;
$legend-icon-color: #000080;

$editor-border-color: #800000;
